body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background-color: #fffcf3;
}

/* Style for evenly spaced columns */
.container {
    display: flex;
    justify-content: space-between;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Style for bold buttons */
.button {
    font-weight: bold;
}

/* Different colors for form buttons */
.red-button {
    background-color: red;
}

.blue-button {
    background-color: blue;
}

.green-button {
    background-color: green;
}

#container input[type=submit].btn{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

/* Style for form button input types 
input[type=button].form-button,
input[type=submit].form-button,
input[type=reset].form-button {
     Add your styles here *
}/